* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

header img {
    width: 20%;
}

.custom-navbar {
    background-color: #0F1D24;
}

.nav-link {
    color: white;
}

#logout-button {
    transition: all 0.3s;
    background-color: transparent;
    border: none;
    font-weight: 500;
}

#logout-button:hover {
    color: #0A141A;
}

#logout-button:active {
    color: white;
}

.form-label {
    font-size: 110%;
}

.form-control {
    background-color: transparent;
    border: 1px solid #787575;
}

#registrationForm {
    background-color: rgb(219, 233, 240, 0.6);
    padding: 5%;
    border-radius: 4%;
}

#form1 {
    background-color: transparent;
    border: 1px solid black;
}

.modal-content {
    background: rgb(219, 233, 240, 0.2);
    /* transparent */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#btnSaveCustomer {
    background-color: green;
    border: none;
    transition: background-color, 0.2s;
}

#btnSaveCustomer:hover {
    background-color: rgba(0, 128, 0, 0.5);
}

#btnSaveCustomer:active {
    background-color: green;
}

.btn-update {
    background-color: #ffa500;
    border: none;
    color: black;
    transition: background-color, 0.2s;
}

.btn-update:hover {
    background-color: rgba(255, 166, 0, 0.682);
    color: black;
}

.btn-update:active {
    background-color: #ffa500;
    color: black;
}

#updateForm {
    background-color: rgb(219, 233, 240, 0.6);
    padding: 5%;
    border-radius: 4%;
}

#btnUpdateCustomerForm {
    background-color: orange;
    border: none;
    color: black;
    transition: background-color, 0.2s;
}

#btnUpdateCustomerForm:hover {
    background-color: rgba(255, 166, 0, 0.682);
}

/* Item Page */

#form2 {
    background-color: transparent;
    border: 1px solid black;
}

#itemRegistrationForm {
    background-color: rgb(219, 233, 240, 0.6);
    padding: 5%;
    border-radius: 4%;
}

#btnSaveItem {
    background-color: green;
    border: none;
    transition: background-color, 0.2s;
}

#btnSaveItem:hover {
    background-color: rgba(0, 128, 0, 0.5);
}

#btnSaveItem:active {
    background-color: green;
}

#btnUpdateItem {
    background-color: #ffa500;
    border: none;
    color: black;
    transition: background-color, 0.2s;
}

#btnUpdateItem:hover {
    background-color: rgba(255, 166, 0, 0.682);
}

#itemUpdateForm {
    background-color: rgb(219, 233, 240, 0.6);
    padding: 5%;
    border-radius: 4%;
}

#btnUpdateItemForm {
    background-color: orange;
    border: none;
    color: black;
    transition: background-color, 0.2s;
}

#btnUpdateItemForm:hover {
    background-color: rgba(255, 166, 0, 0.682);
}

/* Place Order */

.list-group-item {
    background-color: #EDF4F8;
    margin-bottom: 1%;
    border: none;
}

#form3 {
    background-color: transparent;
    border: 1px solid black;
}

#btnViewOrderDetails {
    background-color: black;
    border: none;
    color: white;
    transition: background-color, 0.2s;
}

#btnViewOrderDetails:hover {
    background-color: rgba(25, 25, 25, 0.682);
}

/* Login */

.login-page {
    background: radial-gradient(circle, rgba(146, 189, 211, 1) 0%, rgba(109, 168, 197, 1) 25%, rgba(73, 146, 182, 1) 50%, rgba(58, 117, 146, 1) 75%, rgba(44, 87, 109, 1) 100%);
}

#login {
    border-radius: 12%;
    background-color: rgb(255, 255, 255, 0.4);
    border: 3px solid rgb(255, 255, 255, 0.4);
}

#loginButton {
    width: 100%;
    transition: 0.2;
    background-color: black;
    border: none;
}

#loginButton:hover {
    background-color: rgb(47, 47, 47);
}

#loginButton:active {
    background-color: rgb(0, 0, 0);
}